@tailwind base;
@tailwind components;
@tailwind utilities;

.style-chooser .vs__dropdown-toggle {
    @apply text-sm text-gray-900 rounded-none border-t-0 border-x-0 border-gray-300 hover:border-gray-600 focus:border-gray-600 focus:ring-0
}
.style-chooser .vs__actions{
    @apply pr-3
}
.style-chooser .vs__open-indicator {
    @apply scale-75
}
.style-chooser .vs__dropdown-menu {
    @apply mt-1 text-sm
}
.style-chooser .vs__dropdown-selected {
    @apply text-sm
}
.style-chooser .vs__search {
    @apply text-sm placeholder:text-sm placeholder:text-stone-400
}

/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
}
